---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"id\": \"bitcoin\", \n        \"name\": \"Bitcoin\",
        \n        \"symbol\": \"BTC\", \n        \"rank\": \"1\", \n        \"price_usd\":
        \"9480.86\", \n        \"price_btc\": \"1.0\", \n        \"24h_volume_usd\":
        \"9808640000.0\", \n        \"market_cap_usd\": \"158435125503\", \n        \"available_supply\":
        \"16711050.0\", \n        \"total_supply\": \"16711050.0\", \n        \"max_supply\":
        \"21000000.0\", \n        \"percent_change_1h\": \"1.14\", \n        \"percent_change_24h\":
        \"-13.63\", \n        \"percent_change_7d\": \"15.95\", \n        \"last_updated\":
        \"1512061152\"\n    }, \n    {\n        \"id\": \"ethereum\", \n        \"name\":
        \"Ethereum\", \n        \"symbol\": \"ETH\", \n        \"rank\": \"2\", \n
        \       \"price_usd\": \"415.127\", \n        \"price_btc\": \"0.044139\",
        \n        \"24h_volume_usd\": \"2303970000.0\", \n        \"market_cap_usd\":
        \"39872917137.0\", \n        \"available_supply\": \"96049925.0\", \n        \"total_supply\":
        \"96049925.0\", \n        \"max_supply\": null[...]
