---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/global/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"total_market_cap_usd\": 281798835743.0, \n    \"total_24h_volume_usd\":
        19710861692.0, \n    \"bitcoin_percentage_of_market_cap\": 55.93, \n    \"active_currencies\":
        904, \n    \"active_assets\": 414, \n    \"active_markets\": 6991, \n    \"last_updated\":
        1512061453\n}"
  recorded_at: Thu, 30 Nov 2017 17:07:17 GMT
recorded_with: VCR 3.0.3
