---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/bitcoin/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"id\": \"bitcoin\", \n        \"name\": \"Bitcoin\",
        \n        \"symbol\": \"BTC\", \n        \"rank\": \"1\", \n        \"price_usd\":
        \"9480.86\", \n        \"price_btc\": \"1.0\", \n        \"24h_volume_usd\":
        \"9808640000.0\", \n        \"market_cap_usd\": \"158435125503\", \n        \"available_supply\":
        \"16711050.0\", \n        \"total_supply\": \"16711050.0\", \n        \"max_supply\":
        \"21000000.0\", \n        \"percent_change_1h\": \"1.14\", \n        \"percent_change_24h\":
        \"-13.63\", \n        \"percent_change_7d\": \"15.95\", \n        \"last_updated\":
        \"1512061152\"\n    }\n]"
  recorded_at: Thu, 30 Nov 2017 17:03:16 GMT
recorded_with: VCR 3.0.3
